@{
	ViewData["Title"] = "AddMovie";
}

<div class="content-column">
	<h1 class="title-colored">Add Movie to database</h1>
	<input type="text" name="Movietitle" id="MovieTitle" value="" />

	<button id="searchbutton">
		<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
		Search movie
	</button>

	<br />
	<br />
	<table id="MovieTable" style="background-color: beige; color: black; border-radius: 10px; padding: 10px;">
		<thead>
			<tr>
				<th>
					Title
				</th>
				<th>
					Year
				</th>
				<th>

				</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function(){
		function startSearch(){
			var title = $("#MovieTitle").val();

			// Spinner wordt getoond en wordt input geven uitgeschakeld.
			$("#spinner").show();
			$("#searchbutton").prop("disabled", true);
			$("#MovieTitle").prop("disabled", true);
			$("#searchbutton").find(".spinner-border").removeClass("d-none");

			// Eerdere resultaten worden verwijderd.
			$("#MovieTable tbody").empty();

			$.ajax({
				url: `/movie/GetMoviesFromTmdb?movieTitle=${title}`,
				type: "GET",
				dataType: "json",
				success: function(data){
					data.forEach(function(movie) {
						$("#MovieTable tbody").append(
							`<tr>
								<td>${movie.title}</td>
								<td>${movie.year}</td>
								<td><a href="/Movie/AddMovieByTmdbId?TmdbId=${movie.tmdbId}"> Voeg film toe aan database </a></td>
							</tr>`
						);
					});
				},
				error: function(){
					alert("Geen films gevonden");
				},
				complete: function(){
					// Spinner verbergen en input geven weer inschakelen
					$("#spinner").hide();
					$("#searchbutton").prop("disabled", false);
					$("#MovieTitle").prop("disabled", false);
					$("#searchbutton").find(".spinner-border").addClass("d-none");
				}
			});
		}

		// Wanneer er geklikt of ge-entert wordt, dan wordt deze logica uitgevoerd.
		$("#searchbutton").off("click.spinnerHandler").on("click.spinnerHandler", function(){
			startSearch();
		});

		// Enter-toets activeren
		$("#MovieTitle").off("keyup.spinnerHandler").on("keyup.spinnerHandler", function(event){
			if (event.keyCode === 13) {
				startSearch();
			}
		});
	});
</script>
