
@{
    ViewData["Title"] = "AddMovie";
}

<h1>Add Movie to database</h1>
<input type="text" name="Movietitle" id="MovieTitle" value="" />

<button id="searchbutton">
    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
    Search movie
</button>

<br />
<br />
<table id="MovieTable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script>
    $(document).ready(function(){
        $("#searchbutton").click(function(){
            var title = $("#MovieTitle").val();

            // Disable button + show spinner
            $(this).prop("disabled", true);
            $(this).find(".spinner-border").removeClass("d-none");

            // Oude resultaten verwijderen
            $("#MovieTable tbody").empty();

            $.ajax({
                url:`/movie/GetMoviesFromImdb?movieTitle=${title}`,
                type:"GET",
                dataType:"json",
                success:function(data){
                    data.forEach(function(movie) {
                        $("#MovieTable tbody").append(
                            `<tr> <td> ${movie.title}</td>
                            <td> ${movie.year}</td>
                            <td><a href="/Movie/AddMovieByImdbId?imdbId=${movie.imdbId}"> Voeg film toe aan database </a></td></tr>`
                        );
                    });
                },
                error: function(){
                    alert("Geen films gevonden");
                },
                complete: function(){
                    // Na laden: enable button + hide spinner
                    $("#searchbutton").prop("disabled", false);
                    $("#searchbutton").find(".spinner-border").addClass("d-none");
                }
            });
        });

        $("#MovieTitle").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#searchbutton").click();
            }
        });
    });
</script>
