@model IEnumerable<string>

@{
    ViewData["Title"] = "SearchByYear";
}

<h1 class="title-colored">SearchByYear</h1>

<table class="table" style="background-color: beige; color: black; border-radius: 10px; padding: 10px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                    <a asp-action="ShowMoviesFromYear" asp-route-year="@item">Select</a> @*asp-route-year => year is de variabele naam, moet hetzelfde zijn als de methode-action*@
            </td>
        </tr>
}
    </tbody>
</table>
