@model IEnumerable<CineVault.ModelLayer.ModelMovie.Director>

@{
    ViewData["Title"] = "SearchByDirector";
}

<h1 class="title-colored">Zoeken op regisseursnaam</h1>

<partial name="/Views/Shared/SearchBox.cshtml"></partial>

<table class="table" id="resultTable" style="background-color: beige; color: black; border-radius: 10px; padding: 10px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td colspan="2">
                    <a asp-action="ShowMoviesFromDirector" asp-route-id="@item.Id" class="klick-link">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>

        </tr>
}
    </tbody>
</table>

<script src="~/js/SearchFilter.js" asp-append-version="true"></script>


