@model IEnumerable<CineVault.ModelLayer.ModelMovie.Movie>

@{
    ViewData["Title"] = "SearchByYear";
}

<h1>SearchByYear</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                    <a asp-action="ShowMoviesFromYear" asp-route-id="@item.Id">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>
