@model IEnumerable<string>

@{
    ViewData["Title"] = "SearchByYear";
}

<h1>SearchByYear</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                    <a asp-action="ShowMoviesFromYear" asp-route-year="@item">Select</a> @*asp-route-year => year is de variabele naam, moet hetzelfde zijn als de methode-action*@
            </td>
        </tr>
}
    </tbody>
</table>
