html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hero-text {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title-colored {
    color: #ffffff; /* witte kleur */
    font-weight: bold;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container, main {
    flex: 1;
}

.custom-green {
    color: #4cff00; /*8IMportant zorgt ervoor dat deze kleur niet overschreden wordt door andere kleuren*/
}

.white-title {
    color: white;
}
