<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CineVault.PresentationLayor.Website</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CineVault.PresentationLayor.Website.styles.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
	@* style="background-image: url('@Url.Content("~/Images/Vintage_Vault.png")'); background-size: cover; background-position: center; background-repeat: no-repeat;"> *@
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CineVault</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link text-black dropdown-toggle"
							   id="mijnFilmsDropdown"
							   role="button"
							   data-bs-toggle="dropdown"
							   aria-expanded="false">
								Mijn Films
							</a>
							<ul class="dropdown-menu" aria-labelledby="mijnFilmsDropDown">
								<li>
									<a class="dropdown-item" asp-controller="Movie" asp-action="AllMovies">
										Mijn Filmlijst
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-controller="Movie" asp-action="AllSeenMovies">
										Geziene films
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-controller="Movie" asp-action="AllUnseenMovies">
										Ongeziene films
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="AddMovie">Film toevoegen</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link text-black dropdown-toggle"
							   id="GegevensDropdown"
							   role="button"
							   data-bs-toggle="dropdown"
							   aria-expanded="false">
								Zoeken op gegevens
							</a>
							<ul class="dropdown-menu" aria-labelledby="GegevensDropDown">
								<li>
									<a class="dropdown-item" asp-controller="Movie" asp-action="SearchByActor">
										Alle films van de acteur opvragen
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-controller="Movie" asp-action="SearchByDirector">
										Alle films van de regisseur opvragen
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-controller="Movie" asp-action="SearchByYear">
										Alle films van hetzelfde jaar opvragen
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - CineVault - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
