@{
    ViewData["Title"] = "Privacybeleid";
}
<div class="title-colored">
    <h1>@ViewData["Title"]</h1>

    <p>Hier staat momenteel niets geschreven, aangezien ik de applicatie voorlopig alleen voor mezelf zal gebruiken</p>
</div>

